.profileContainer {
    display: flex;
    align-items: center;
}

.profileImage {
    position: relative;
    width: 8rem;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage > img {
    width: 75%;
    border-radius: 50%;
}

.profileImage svg {
    position: absolute;
}

.profileImage svg path {
    will-change: auto;
    stroke-width: 14px;
    stroke-miterlimit: round;
    stroke-linecap: round;
    transition: stroke-dashoffset 850ms ease-in-out;
}

.backgroundExperienceBar {
    stroke: #ccc;
    fill: none;
}

.foregroundExperienceBar {
    stroke: url("#linear-gradient");
    fill: none;
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
    margin-right: 0.5rem;
}